<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

		<!-- Mapeamento da Classes -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/aula</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<mapping class="br.com.inforium.entidade.Veiculos" />
		<mapping class="br.com.inforium.entidade.testLocadora2" />
		<mapping class="br.com.inforium.entidade.Editora" />
		<mapping class="br.com.inforium.entidade.Livro" />
		<mapping class="br.com.inforium.entidade.Locadoras" />
		<mapping class="br.com.inforium.entidade.testLocadora2" />
		<mapping class="br.com.inforium.entidade.Pessoa" />
		<mapping class="br.com.inforium.entidade.Aluno" />
		<mapping class="br.com.inforium.entidade.Professor" />
		
	
	</session-factory>
</hibernate-configuration>


